<div nz-row>
  <div nz-col nzSpan="16" nzOffset="4" class="upload-panel">
    <form nz-form
      [nzLayout]="'inline'"
      [formGroup]="validateForm"
      (change)="handleFileInput($event.target.files)">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please add CSV file!">
            <input
              formControlName="fileName"
              type="file"
              nz-input
              nzBorderless
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              placeholder="CSV file"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" (click)="import()" [disabled]="!validateForm.valid">
            <i nz-icon nzType="upload"></i>
            Upload CSV
          </button>
          <button nz-button nzType="primary" (click)="invoicesSave(true)" [disabled]="!isInvoicesUploaded">
            <i nz-icon nzType="check-circle"></i>
            Validate
          </button>
          <button nz-button nzType="primary" (click)="invoicesSave(false)" [disabled]="!isInvoicesValid">
            <i nz-icon nzType="save"></i>
            Save
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div nz-col nzSpan="16" nzOffset="4">
    <nz-table #editRowTable [nzData]="invoices">
      <thead>
        <tr>
          <th nzWidth="50px">Status</th>
          <th nzWidth="20px"></th>
          <th>Invoice Id</th>
          <th>Amount</th>
          <th>Price</th>
          <th>Due Date</th>
          <th nzWidth="100px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <ng-container *ngIf="!editRow[data.id].edit; else editTemplate">
            <td [ngSwitch]="data.valid">
              <nz-tag nzColor="success" *ngSwitchCase="true">
                <i nz-icon nzType="check-circle"></i>
                <span>valid</span>
              </nz-tag>
              <nz-tag nzColor="error" *ngSwitchCase="false">
                <i nz-icon nzType="close-circle"></i>
                <span>not valid</span>
              </nz-tag>
              <nz-tag nzColor="default" *ngSwitchDefault>
                <i nz-icon nzType="clock-circle"></i>
                <span>not checked</span>
              </nz-tag>
            </td>
            <td>
              <nz-badge [nzCount]="data.errors.length" *ngIf="data.valid === false">
                  <a class="head-example"
                    nz-popover
                    nzPopoverTrigger="click"
                    nzPopoverTitle="Errors"
                    [nzPopoverContent]="contentTemplate">
                  </a>
                  <ng-template #contentTemplate>
                    <div>
                      <div *ngFor="let item of data.errors" [innerHTML]="item | formatError"></div>
                    </div>
                  </ng-template>
              </nz-badge>
            </td>
            <td>{{data.invoiceId}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.price}}</td>
            <td>{{data.dueDate | date }}</td>
            <td><a (click)="startEdit(data.id)">Edit</a></td>
          </ng-container>
          <ng-template #editTemplate>
            <td></td>
            <td></td>
            <td><input type="text" nz-input [(ngModel)]="editRow[data.id].data.invoiceId" /></td>
            <td><input type="text" nz-input [(ngModel)]="editRow[data.id].data.amount" /></td>
            <td><input type="text" nz-input [(ngModel)]="editRow[data.id].data.price" /></td>
            <td><input type="text" nz-input [(ngModel)]="editRow[data.id].data.dueDate" /></td>
            <td>
              <a (click)="saveEdit(data.id)" class="save">Save</a>
              <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
