.upload-panel {
  margin-bottom: 20px;;
}

.save {
  margin-right: 8px;
}

[nz-button] {
  margin-right: 8px;
}

.head-example {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #eee;
  display: inline-block;
  vertical-align: text-bottom;
}
